auto-install-peers=true
ignore-scripts=false

[pnpm]
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
